<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/mojabaza</property>
        <property name="connection.username">tutorial</property>
        <property name="hibernate.connection.password">password</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to std out
        Shows sql queries on screen CONSOLE
         -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup 
        Can be change to update
        -->
        <property name="hbm2ddl.auto">create</property>
		
		
		<!-- AllClasses with annotations  MAKE SHORE IT IS CLASS!!  -->
        <mapping class="info.michalak.UserDetails"/>

    </session-factory>

</hibernate-configuration>